<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unisound.watchassist">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/note"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.unisound.media.example.musice.MusiceActivity"></activity>
        <activity
            android:name="com.unisound.media.example.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unisound.media.example.BasicMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unisound.media.example.TtsActivity"
            android:label="语音合成"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.WakeupActivity"
            android:label="唤醒词"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.OfflineAsrActivity"
            android:label="混合识别"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.OfflineSlotAsrActivity"
            android:label="动态词表离线识别"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.OnlineAsrActivity"
            android:label="在线识别"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.OneShotAsrActivity"
            android:label="OneShot"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.TextAsrActivity"
            android:label="语音转文字"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisound.media.example.MedicalAsrActivity"
            android:label="医疗语音识别"
            android:screenOrientation="portrait" />
    </application>

</manifest>